{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Hosting{% endblock %}
{% block body %}
<!--
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Outcome of your request</h1>
                    <h3>...</h3>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<div class="center">
    <!--
    {% if delayed == 0 %}
        {% if book_slot == 1 %}
            {% if host_book == 1 %}
            <p> You successfully registered to this event </p>
            {% elif host_book == 0 %}

            {% endif %}

        {% elif book_slot == 0 %}


        {% endif %}

    <p> {{ current_user.client_id }}</p>

    {% elif delayed == 1 %}


    {% endif %}
    -->
</div>
{% endblock %}